@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		--theme-bg: 220deg 23% 95%;
    /* --theme-bg: 223deg 16% 83%; */
		/* --theme-link: 172deg 18% 41%; */
		--theme-link: 220deg 91% 40%;
    /* --theme-link: 233deg 13% 41%; */
		/* --theme-text: 203deg 11% 15%; */
    --theme-text: 234deg 16% 0%;
		--theme-accent: 35deg 77% 30%;
		--theme-accent-2: 35deg 77% 30%;
		/* --theme-accent-2: 0deg 0% 7%; */
		--theme-quote: 109deg 58% 30%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 240deg 21% 15%;
		/* --theme-link: 217deg 92% 76%; */
    --theme-link: 232deg 97% 85%;
		--theme-text: 226deg 64% 88%;
		/* --theme-accent: 23deg 92% 75%; */
    --theme-accent: 41deg 86% 83%;
    /* --theme-accent: 115deg 54% 76%; */
		/* --theme-accent: 267deg 84% 81%; */

    --theme-quote: 115deg 54% 76%;
		/* --theme-quote: 189deg 71% 73%; */
		/* --theme-quote: 199deg 76% 69%; */
		/* --theme-accent-2: 232deg 97% 85%; */
		/* --theme-accent-2: 23deg 92% 75%; */
    --theme-accent-2: 41deg 86% 83%;
	}
	/* @font-face { */
	/* 	font-family: "JetBrains Mono"; */
	/* 	src: */
	/* 		url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2") */
	/* 			format("woff2"), */
	/* 		url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff") */
	/* 			format("woff"); */
	/* 	font-weight: 700; */
	/* 	font-style: italic; */
	/* 	font-display: swap; */
	/* } */
	html {
		@apply scroll-smooth;
	}

	body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 antialiased;
	}
}
